<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}"
      layout:fragment="Content"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

    <body>
    <div style="margin-top: 50px; margin-bottom: 50px">
        <div class="container custom-board-detail-container mb-5 mt-5">
            <div class="mb-2 d-flex justify-content-between align-items-center custom-board-detail-title">
                <div class="ms-1" style="font-size:18px" th:text="${boardList.content}"></div>
                <div style="color: rgb(128,128,128);" th:text="${boardList.createdAtFormat}"></div>
            </div>
            <div class="d-flex justify-content-between align-items-center ms-1">
                <div>
                    <span class="ms-3 me-3" style="color: rgb(128,128,128);" th:text="${boardList.username}"></span>

                </div>
                <div class="me-2">
                    <span class="me-1" style="color: rgb(128,128,128);" th:text="|조회수:  ${boardList.views}|"></span>
                </div>
            </div>

            <hr/>
            <div sec:authorize-expr="isAuthenticated()">
                <div th:if="${#authentication.principal.user.id == boardList.userId}" class="d-flex justify-content-end mb-2">
                    <button class="btn btn-secondary btn-sm me-1">수정</button>
                    <button class="btn btn-secondary btn-sm">삭제</button>
                </div>
            </div>
            <div class="ms-2 py-3" th:text="${boardList.content}">
            </div>
            <hr/>
            <div class="ms-1 mt-4 mb-5">
                <div class="d-flex justify-content-end me-2 mb-2">
                    <div style="font-size:13px" th:text="|댓글 ${boardList.commentCount}개|"></div>
                </div>
                <ul class="list-group">
                    <li th:each="comment : ${boardList.commentDTO}" class="list-group-item">
                        <div class="mb-2 d-flex justify-content-between">
                            <div>
                                <span class="me-3" th:text="${comment.username}">appfp001</span>
                                <span class="custom-comment-font" th:text="${comment.createdAtFormat}">2023.12.27 13:45:22</span>
                            </div>
                            <div sec:authorize-expr="isAuthenticated()">
                                <div th:if="${#authentication.principal.user.id == comment.userId}">
                                    <span class="custom-comment-font">수정</span>
                                    <span class="custom-comment-font">삭제</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div th:text="${comment.content}" style="font-size: 14px"></div>
                        </div>
                    </li>
                </ul>
            </div>
            <form action="" method="post" class="ms-1">
                <div class="mb-2">
                    <textarea class="form-control" id="commentContent" name="commentContent" rows="3"></textarea>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">댓글 작성</button>
                </div>
            </form>

        </div>
    </div>
    </body>

</html>