<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}"
      layout:fragment="Content"
>

<body>
<div style="margin-top: 50px; margin-bottom: 50px">
    <div class="container custom-board-save-container mb-5 mt-5">
        <div class="text-center" style="margin-bottom: 37px">
            <h2>게시글 수정</h2>
        </div>
        <form th:object="${board}">
            <div class="form-group mb-2">
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요" required>
            </div>
            <div class="form-group mb-3">
                <textarea th:field="*{content}" class="form-control" rows="13" placeholder="내용을 입력하세요" required></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" th:data-boardId="${board.id}" class="btn btn-secondary me-2"
                        th:onclick="updateBoard(this.getAttribute('data-boardId'))">수정</button>
                <button type="button" class="btn btn-secondary">취소</button>
            </div>
        </form>
    </div>
</div>
</body>

<script th:src="@{/js/updateForm.js}"></script>
</html>