<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}"
      layout:fragment="Content"
>

  <body>

    <div style="margin-top: 70px; margin-bottom: 100px">
      <div class="container custom-login-custom-container mb-5 mt-5">

        <form th:action="@{/login}" method="POST">
          <div th:if="${param.error != null}" class="alert alert-danger">
            올바르지 않은 정보입니다.
          </div>
          <div class="mb-3">
            <input type="email" name="username"
                   class="form-control" placeholder="이메일" required>
          </div>
          <div class="mb-4">
            <input type="password" name="password"
                   class="form-control" placeholder="비밀번호" required>
          </div>

          <div>
            <div>
              <div class="mb-2">
                <button type="submit" class="btn btn-primary custom-login-btn">
                  로그인
                </button>
              </div>
              <div class="d-flex justify-content-end">
                <div class="me-2">
                  <a th:href="@{/joinForm}" class="custom-login-link">회원가입</a>
                </div>
                <div>
                  <a href="#" class="custom-login-link">비밀번호 찾기</a>
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>

  </body>

</html>