<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}"
      layout:fragment="Content"
>


    <body>
        <div style="margin-top: 50px; margin-bottom: 50px">
            <div class="container mb-5 mt-5 d-flex justify-content-center" style="height: 300px">
                <span style="font-size: 25px">게시판 (Mybatis + JavaScript)</span>
            </div>
        </div>
    </body>

</html>