/* 공통 */
.custom-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* header */
.custom-navbar-layout {
  padding-top: 10px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgb(210, 208, 208);
}

/* footer */
.custom-footer-link {
  color: rgb(128, 128, 128);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

/* 로그인 페이지 */
.custom-login-custom-container {
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;

  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 57px 50px 59px 50px;
}
.custom-login-btn {
  width: 100%;
}
.custom-login-link {
  color: rgb(128, 128, 128);
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

/* 회원가입 페이지 */
.custom-join-container {
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;

  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 53px 50px 52px 50px;
}
.custom-join-btn {
  width: 100%;
}

/* 글 쓰기 페이지 */
.custom-board-save-container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 50px 40px 50px;
}

/* 글 상세보기 페이지 */
.custom-board-detail-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 50px 40px 50px;
}

.custom-board-detail-title {
  background-color: #f0f0f0;
  padding: 15px;
}

.custom-flex-comment-user {
  flex: 0.5;
}

.custom-flex-comment-content {
  flex: 0.3;
}

.custom-ellipsis-container {
  display: flex;
  max-width: 50px; /* 원하는 최대 너비 설정 */
}

.custom-comment-font {
  font-size: 13px;
  color: #949494;
}


/* 글 목록 페이지 */
.custom-board-list-container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 33px 50px 40px 50px;
}

.pagination .page-link {
  color: #808080; /* 회색 */
}

.pagination .page-link:hover {
  color: #007bff; /* 페이지 링크에 호버할 때 파란색으로 변경 */
}