/* header */
.navbar-layout {
  padding-top: 10px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgb(210, 208, 208);
}

/* footer */
.footer-link {
  color: gray;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

/* 로그인 페이지 */
.login-custom-container {
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;

  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 57px 50px 59px 50px;
}
.login-btn {
  width: 100%;
}
.login-link {
  color: gray;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

/* 회원가입 페이지 */
.join-custom-container {
  max-width: 430px;
  margin-right: auto;
  margin-left: auto;

  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 57px 50px 52px 50px;
}
.join-btn {
  width: 100%;
}
